body {
    background-image: url(/images/1.png);
    font-family: 'Lobster', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno', sans-serif;
}

h1 {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 20px;
    color:aliceblue
}

h2 {
    font-family: 'Lobster', sans-serif;
    font-size: 17px;
    color: blueviolet;
}
