body {
    background-image: url(/images/moon.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno', sans-serif;
}

.fname #h1 {
    height: 180px;
    padding-top: 100px;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 180px;
    color: azure;
    margin-left: 35%;
    margin-right: 50%;
}

.lname #h2 {    
    height: 160px;
    margin-top: 10%;
    margin-bottom: 0%;
    padding-bottom: 40px;
    font-family: 'Lobster', sans-serif;
    font-size: 160px;
    color: blueviolet;
    margin-left: 80%;
}
