body {
    background-image: url(/images/blue\ purple.png);
    background-color: rgb(1, 1, 60);
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    font-family: 'Lobster', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'MuseoModerno', sans-serif;
  }
  @media (min-width: 768px) {
    /* CSS for screens wider than 768px (typically desktops) */
  }
  
  @media (max-width: 767px) {
    /* CSS for screens up to 767px (typically mobile devices) */
  }
  
  
  /* Define the default font size for the heading */
  .resizable-heading {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 180px;
    color: rgb(255, 255, 255); /* Default font size */
    text-align: center;
    margin-left: 15%;
    padding-top: 10px;
    margin-top: 0%;
    
  }
  @media (max-width: 768px) {
    .resizable-heading {
      font-size: 28px; /* Adjust font size for mobile devices */
      margin-top: 0%;
    }
  }
  
  .lname {
    font-family: 'Lobster', sans-serif;
    font-size: 160px;
    color: rgb(131, 0, 254); /* Default font size */
    text-align: center;
    margin-left: 55%;
    margin-top: -20%;
  }
  
  /* Use a media query to change the font size for smaller screens (e.g., mobile devices) */
  @media (max-width: 768px) {
    .lname {
      top: 158px;
      font-size: 22px; /* Adjust font size for mobile devices */
      margin-top: -7%;
      margin-left: 55%;
      position: absolute;
    }
  }
  
  
  /* Common styles for both desktop and mobile navbars */
  .navbar {
      background-color: rgb(163, 0, 163);
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
    
    /* Styles for the desktop navbar */
    .nav-desktop {
      display: flex;
      padding-left: 60%;
    }
    
    .nav-desktop a {
      text-decoration: none;
      color: #fff;
      margin-right: 15px; /* Push links to the right */
    }
    
    /* Styles for the mobile navbar */
    .nav-mobile {
      display: none;
      padding-left: 90%;
    }
    
    #menu-icon {
      font-size: 24px;
      cursor: pointer;
   
    }
    
    #mobile-menu {
      display: none;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: #333;
    }
    
    #mobile-menu a {
      text-decoration: none;
      color: #fff;
      padding: 10px 20px;
      display: block;
    }
    
    /* Media query to show/hide the appropriate navbar based on screen width */
    @media (max-width: 768px) {
      .nav-desktop {
        display: none;
      }
      .nav-mobile {
        display: flex;
      }
    }
    